<div class="popup active" id="update-popup">
    <div class="container">
        <h2>Mise à jour disponible</h2>
        <p>Une mise à jour de l'app Seconde Main est disponible, il est conseillé de l'installer maintenant.</p>
        <div class="popup-button">
            <button type='button' class="second-button" onclick="closeUpdatePopup()">Annuler</button>
            <button type='button' class="main-button" onclick="update()">Installer</button>
        </div>
        <div class="progress-container">
            <div class="progress"></div>
        </div>
    </div>
</div>